<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление события</title>
    <link rel="stylesheet" href="static/css/mainCSS.css">

</head>
<body>
    
    <div class="background ">
        <div class="brightness">
            <div id="calendar">

                <form action="{{ url_for('add_event') }}" method = "POST">
                    <h3>Добалвение даты </h3>
                    
                    <div class="year">
                        <p>Введите год</p>
                        <input type = "date" name = 'date' />
                    </div>
                    
                    <div class="color">
                        <p>Цвет: <input type="color" name="color" value="#ff0000">
                    </div>

                    <!-- <div class="address">
                        <p>введите текст</p>
                        <textarea name = "add" ></textarea>
                    </div> -->
                    
                    <input type = "submit" value = "submit" />
                </form>


            </div>
        </div>
    </div>

</body>
<script src="static/css/add.js"></script>
</html>












